#N
PSRAM_SCK
PSRAM_CE_N
PSRAM_SIO_OUT_0
PSRAM_SIO_IN_0
PSRAM_SIO_OE_0
PSRAM_SIO_OUT_1
PSRAM_SIO_IN_1
PSRAM_SIO_OE_1
PSRAM_SIO_OUT_2
PSRAM_SIO_IN_2
PSRAM_SIO_OE_2
PSRAM_SIO_OUT_3
PSRAM_SIO_IN_3
PSRAM_SIO_OE_3
$1
IQ_CLK
IQ_DATA_Q_0
IQ_DATA_I_0
IQ_DATA_Q_1
IQ_DATA_I_1
$1
IQ_DATA_Q_2
IQ_DATA_I_2
IQ_DATA_Q_3
IQ_DATA_I_3
$16
#W
RESETB
$1
HOST_CS
SPI_SCK
SPI_MOSI
SPI_MISO
$1
IRQ_OUT
$1
REMOD_A_I
REMOD_A_Q
$16
