[submodule "ip/gf180mcu_ocd_ip_sram"]
	path = ip/gf180mcu_ocd_ip_sram
	url = https://github.com/TimothyJNewman/gf180mcu_ocd_ip_sram
[submodule "ip/gf180mcu_fd_ip_sram"]
	path = ip/gf180mcu_fd_ip_sram
	url = https://github.com/google/globalfoundries-pdk-ip-gf180mcu_fd_ip_sram
[submodule "ip/picorv32"]
	path = ip/picorv32
	url = https://github.com/YosysHQ/picorv32
[submodule "ip/sscs-chipathon-2026"]
	path = ip/sscs-chipathon-2026
	url = https://github.com/sscs-ose/sscs-chipathon-2026.git
[submodule "ip/chipathon-2026-grouper"]
	path = ip/chipathon-2026-grouper
	url = https://github.com/Sheffield-Chip-Design-Team/chipathon-2026-grouper.git
	branch = picorv32_minimal
[submodule "ip/chipathon-2026-gf180mcu-padring"]
	path = ip/chipathon-2026-gf180mcu-padring
	url = https://github.com/Mauricio-xx/chipathon-2026-gf180mcu-padring
	branch = main
