#E
IQ_CLK
$1
IQ_DATA_I\[3\]
IQ_DATA_Q\[3\]
IQ_DATA_I\[2\]
IQ_DATA_Q\[2\]
IQ_DATA_I\[1\]
IQ_DATA_Q\[1\]
IQ_DATA_I\[0\]
IQ_DATA_Q\[0\]

#W
REMOD_A_I
REMOD_A_Q
$1
PSRAM_SCK
PSRAM_CE_N
$1
PSRAM_SIO_OUT\[3\]
PSRAM_SIO_IN\[3\]
PSRAM_SIO_OE\[3\]
PSRAM_SIO_OUT\[2\]
PSRAM_SIO_IN\[2\]
PSRAM_SIO_OE\[2\]
PSRAM_SIO_OUT\[1\]
PSRAM_SIO_IN\[1\]
PSRAM_SIO_OE\[1\]
PSRAM_SIO_OUT\[0\]
PSRAM_SIO_IN\[0\]
PSRAM_SIO_OE\[0\]

#S
RESETB
$1
HOST_CS
SPI_SCK
SPI_MOSI
SPI_MISO
$1
CS_A\[0\]
CS_A\[1\]
$1
TCK_IRQ
TMS_GPIO0
TDI_GPIO1
TDO_GPIO2

#N
