#S
IQ_DATA_Q\[0\]
IQ_DATA_I\[0\]
IQ_DATA_Q\[1\]
IQ_DATA_I\[1\]
$1
IQ_CLK
$1
IQ_DATA_Q\[2\]
IQ_DATA_I\[2\]
IQ_DATA_Q\[3\]
IQ_DATA_I\[3\]
$1
PSRAM_SCK
PSRAM_CE_N
PSRAM_SIO_OUT\[0\]
PSRAM_SIO_IN\[0\]
PSRAM_SIO_OE\[0\]
PSRAM_SIO_OUT\[1\]
PSRAM_SIO_IN\[1\]
PSRAM_SIO_OE\[1\]
PSRAM_SIO_OUT\[2\]
PSRAM_SIO_IN\[2\]
PSRAM_SIO_OE\[2\]
PSRAM_SIO_OUT\[3\]
PSRAM_SIO_IN\[3\]
PSRAM_SIO_OE\[3\]
#W
RESETB
$1
HOST_CS
SPI_SCK
SPI_MOSI
SPI_MISO
$1
IRQ_OUT
$1
REMOD_A_I
REMOD_A_Q
#E
GRP_ADDR\[0\]
GRP_ADDR\[1\]
GRP_ADDR\[2\]
GRP_ADDR\[3\]
GRP_ADDR\[4\]
GRP_ADDR\[5\]
GRP_ADDR\[6\]
GRP_ADDR\[7\]
$1
GRP_WDATA\[0\]
GRP_WDATA\[1\]
GRP_WDATA\[2\]
GRP_WDATA\[3\]
GRP_WDATA\[4\]
GRP_WDATA\[5\]
GRP_WDATA\[6\]
GRP_WDATA\[7\]
#N
GRP_RDATA\[0\]
GRP_RDATA\[1\]
GRP_RDATA\[2\]
GRP_RDATA\[3\]
GRP_RDATA\[4\]
GRP_RDATA\[5\]
GRP_RDATA\[6\]
GRP_RDATA\[7\]
$1
GRP_WE
GRP_RE
GRP_READY
IRQ_GROUPER
